.sidebarOption {
    display: flex;
    align-items: center;
    font-size: 12px;
    padding-left: 2px;
    cursor: pointer;
}

.sidebarOption:hover {
    background-color: var(--slack-third);
    opacity: 0.9;
}

.sidebarOption__icon {
    padding: 10px;
    /*Using ! cos we are overriding the font size of material UI*/
    font-size: 15px !important;
}

.sidebarOption__channel {
    padding: 10px;
}

/*.sidebarOption__hash {*/
/*    padding: 10px;*/
/*}*/

.sidebarOption > h3 {
    font-weight: 500;
}